@use 'sass:map';

$colors: (
  primary: (
    50: var(--color-primary-50),
    100: var(--color-primary-100),
    500: var(--color-primary-500),
    600: var(--color-primary-600)
  ),
  neutral: (
    50: var(--color-neutral-50),
    100: var(--color-neutral-100),
    500: var(--color-neutral-500),
    900: var(--color-neutral-900)
  )
);

@function get-color($color, $shade: 500) {
  @return map.get(map.get($colors, $color), $shade);
}

@mixin theme-color-variant($property, $color, $shade: 500) {
  #{$property}: get-color($color, $shade);
}
