@use '../../styles/tokens/scss' as common;

.button {
  background-color: common.get-color(primary);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 14px;

  &:hover {
    background-color: #5bb8e8;
  }
}
